<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/style/3.css" />
  <link rel="stylesheet" type="text/css" href="/style/mic.css" />
  <script src="https://kit.fontawesome.com/8832483f9d.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="block screen">
    <!-- logo -->
    <div id="logo-container">
      <div id="logo">io sono io<input id="hi" style="visibility: hidden;" value="here">
      </div>
      <form method="GET" action="/game/<%=id%>/hint">
        <input type="image" src="/style/hint-yellow.png" alt="hint">
      </form>

    </div>
    <div id="avatar-container">
      <!-- get avatar information from the server -->
      <img src="<%=avatar%>">
    </div>

  </div>
  <div class="block chatbox">
    <% if (end==false) { %>
      <div id="mic-container">
        <button id="slash-mic" type="button"><i class="fas fa-microphone-slash"></i></button>
      </div>
      <% } %>
    <div id="chatbox-container" style="padding: 80px 40px;">
      <!-- agent's chat : #agent-chatbox.innerHTML will deleted every time speaker said -->
      <div id="agent-chatbox">
        <p id="agent"><img src="/style/newbuddy.png" style="height: 45px; margin-right: 10px;">buddy</p>
        <div class="question">
          <% if (response != "") { %>
          <p class="question-container"><%=response%></p>
          <% } %>
        </div>
        <div class="question">
          <% if (question != "") { %>
          <p class="question-container"><%=question%></p>
          <% } %>
        </div>
      </div>

      <div id="user-chatbox">
      </div>
      <form class="play_form" method="POST" action="/game/<%=id%>/play">

      </form>
    </div>





  </div>
  </div>
  <script src="/js/speech to text.js"></script>
  <script src="/js/iterate TTS.js"></script>

</body>

</html>